TELEGRAM_BOT_TOKEN=replace_with_new_telegram_bot_token
TELEGRAM_ALLOWED_CHAT_ID=7660629704
GITHUB_TOKEN=replace_with_new_github_token
GITHUB_OWNER=Kerwin7081
REPO_PREFIX=kerwin-html
PUBLISH_MODE=unique
BRAND_FOOTER=1
